<div class="container">

	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">


			<div class="navbar-header">

				<img src="img/movie-icon.png" alt="Rotten Mangoes"
					class="img-circle" width="100" height="100">
			</div> 
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">

					<li><strong> Find a Movie</strong> <select ng-model="movie"
						ng-options="m.movie.movieName for m in movies"
						class="form-control">
							<option value="">
								<b>-- Movies List --</b>
							</option>
					</select></li>
		
		            
					<li><strong> Search Movie</strong> 
					
					<input type="text"
						ng-model="searchMovieName" placeholder="Search Movie"
						typeahead="movie for movie in getMovies($viewValue) | filter:$viewValue"
						typeahead-loading="loadingLocations" class="form-control">
						
					</li>
					<li>
					<br />
					  <div>
						<a class="btn btn-success" ng-href="#/movies/{{searchMovieName}}"><i
							class="icon-search"></i> Search</a> <i ng-show="loadingLocations"
						class="glyphicon glyphicon-refresh"></i>
						</div>
					</li>
					
					<li><strong> Search Theater</strong> 
					
					<input type="text"
						ng-model="searchTheaterName" placeholder="Search Theater"
						typeahead="theather for theather in getTheaters($viewValue) | filter:$viewValue"
						typeahead-loading="loadingLocations" class="form-control">
						
					</li>
					<li>
					<br />
					  <div>
						<a class="btn btn-success" ng-href="#/theathers/{{searchTheaterName}}"><i
							class="icon-search"></i> Search</a> <i ng-show="loadingLocations"
						class="glyphicon glyphicon-refresh"></i>
						</div>
					</li>
					
					

				</ul>
				<!-- end nav nav bar -->


				<ul class="nav navbar-nav navbar-right">


                   <li>
                  	 <br />Welcome {{userName}}
                   </li>
					<li ng-if="showLogin">
						<button type="button" class="btn btn-default navbar-btn">
							<a href="#/login">Sign in</a>
						</button>
					</li>
					<li ng-if="showLogin">
						<button type="button" class="btn btn-default navbar-btn">
							<a href="#/login">Register</a>
						</button>
					</li>
					<li ng-if="showLogout">
						<button type="button" class="btn btn-default navbar-btn">
							<a ng-click="logout()">Logout</a>
						</button>
					</li>



				</ul>
				<!--  end nav bar right -->
			</div>
		</div>
	</div>
	<!-- end navigation -->

	<div ng-controller="CarouselDemoCtrl">
		<div style="height: 305px">
			<carousel interval="myInterval"> <slide
				ng-repeat="slide in slides" active="slide.active"> <img
				ng-src="{{slide.image}}" style="margin: auto;" >
			<div class="carousel-caption">
				<h4>{{slide.title}}</h4>
				<p>{{slide.text}}</p>
				<a ng-href="#/movies/{{slide.movieId}}">Learn More</a>
			</div>
			</slide> </carousel>
		</div>

	</div>


	<!-- end third row -->
</div>
<!--  end container -->

