<div class="container">
        <h1>Login /Register</h1>         
        <div class="row">            

            <div class="span4">
                <!-- New Customer -->
                <div>
                    <h3><i class="icon-user"></i> New Signup</h3>
                    User Name <input ng-model="userName" /><br/>         
                    First Name <input ng-model="firstName" /><br/>
                    Last Name <input ng-model="lastName" /><br/>
                    Password <input ng-model="password" /><br/>
                    <a class="btn btn-success" ng-click="create()"><i class="icon-plus-sign"></i> Register</a>

                </div>
            </div>
            
            <div class="span4">
                <!-- Existing Customer -->
                <div>
                    <h3><i class="icon-user"></i>Existing User</h3>
                    User Name <input ng-model="existingUserName" /><br/>         
                    Password <input ng-model="existingUserPassword" /><br/>
                    <a class="btn btn-success" ng-click="login()"><i class="icon-plus-sign"></i> Log in</a>

                </div>
            </div>
        </div>        
    </div>
