<div class="container">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
									   <th> Movie Poster</th>
										<th>Movie Name</th>
										<th>Movie Cast</th>
										<th>Movie Release Date</th>
										<th>Theathers</th>
									</tr>
								</thead>
								<tbody>
								   
									<tr ng-repeat="movie in movies">
									    <td><img src="img/{{movie.movie.movieID}}.jpeg" class="img-responsive" alt="Responsive image"></td>
										<td>{{movie.movie.movieName}}</td>
										<td>{{movie.movie.movieCast}}</td>
										<td>{{movie.movie.releaseDate}}</td>
										<td><a ng-href="#/showtimes/movie/{{movie.movie.movieID}}">See Theaters Playing this movie</a> </td>
									</tr>
								</tbody>
							</table>
	</div> 