<div class="container">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Theater Name</th>
										<th>No of Seats</th>
										<th>No of Screens</th>
										<th>Theater Address</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="theater in theaters">
										<td>{{theater.theather.theather_name}}</td>
										<td>{{theater.theather.no_of_seats}}</td>
										<td>{{theater.theather.no_of_screens}}</td>
										<td>{{theater.theather.theathre_address}}</td>
									</tr>
								</tbody>
							</table>
	</div> 