<div class="container">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Movie Name</th>
										<th>Movie Cast</th>
										<th>Movie Release Date</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="movie in movies">
										<td>{{movie.movie.movieName}}</td>
										<td>{{movie.movie.movieCast}}</td>
										<td>{{movie.movie.releaseDate}}</td>
									</tr>
								</tbody>
							</table>
	</div> 