<div class="container">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Theater Name</th>
										<th>Theater Address</th>
										<th>Movies Playing</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="theater in theaters">
										<td>{{theater.theather.theather_name}}</td>
										<td>{{theater.theather.theathre_address}}</td>
										<td><a ng-href="#/showtimes/theather/{{theater.theather.theather_id}}">See Movies Playing</a> </td>
									</tr>
								</tbody>
							</table>
	</div> 